<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drive</title>
  </head>
  <body>
    <h1>Bootleg Drive</h1>
    <% if (locals?.user) { %>
      Welcome <%= user.username %>
      <a href="/logout">Log out</a>
    <% } else { %>
      <%- include('partials/login-form') %>
      <a href='/sign-up'>Sign up</a>
    <% } %>
  </body>
</html>
