<form action="/drive/folder/create" method="POST">
  <input name="parentId" type="hidden" value="<%= locals?.parentId %>" />
  <label>
    Folder name:
    <input name="name" type="text"/>
  </label>
  <button type="submit">Create folder</button>
</form>
